body {
  font-family: "微软雅黑"；
}

/**header**/

header {
  height: 80px;
  width: 1160px;
  margin: 0 auto;
  background: #fff;
  line-height: 80px;
  font-weight: bold;
}
header a {
  color: #2c3e50;
  text-decoration: none;
  font-size: 24px;
}
.logo {
  background: #e74c3c;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  font-size: 28px;
  text-align: center;
  display: inline-block;
  margin: 0 10px 0 100px;
}
.signin {
  float: right;
  margin-right: 10%;
  font-size: 18px;
  color: #7f8c8d;
}
.signin:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

/**intro**/

section.intro {
  height: 400px;
  background: #e74c3c;
  color: #fff;
}
.intro .main {
  width: 1160px;
  margin: 0 auto;
}
.fa-stack {
  float: left;
  font-size: 10em !important;
  margin-left: 200px;
  margin-top: 50px;
  color: #2c3e50;
}
.fa-play {
  margin-left: 20px;
  top: -60px;
}
.fa-stack a {
  color: #2c3e50;
}
.fa-stack:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.banner {
  float: right;
  padding-right: 200px;
  padding-top: 100px;
}
.QQ {
  width: 150px;
  height: 30px;
  text-align: center;
  background-color: rgba(189, 195, 199, 0.5);
  ;
  border: 1px solid #bac1c8;
  border-radius: 5px;
  margin-top: 20px;
}

/**whatyoudo**/

section.whatyoudo {
  background: #fff;
  width: 1160px;
  margin: 0 auto;
  text-align: center;
}
.whatyoudo h2 {
  font-size: 32px;
}
.whatyoudo li {
  list-style: none;
  margin-top: 60px;
  float: left;
  padding: 120px 10px 0 10px;
}
.whatyoudo p {
  padding: 0 80px;
}
.whatyoudo:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.product {
  background-image: url(../profile.png);
  background-repeat: no-repeat;
  background-position: center top;
  width: 30%;
}

/**footer**/

footer {
  background: #ecf0f1;
}
section.about {
  width: 1160px;
  margin: 0 auto;
}
.contact {
  float: left;
  width: 30%;
  padding: 0 10px 0 10px;
}
.contact img {
  float: right;
}
.get {
  float: left;
  width: 30%;
  text-align: center;
}
#email {
  margin-left: 32px;
  background-color: #ecf0f1;
  border: 2px solid #bdc3c7;
  border-radius: 5px;
  border-color: #bdc3c7;
}
.symbol {
  float: left;
  width: 30%;
  padding: 20px 0 0 96px;
}
.symbol .logo {
  text-align: center;
}
.symbol h2 {
  display: inline;
}
.symbol p {
  padding: 10px;
  font-size: 18px;
}
.clearfix {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.copyright {
  text-align: center;
  color: #bac1c8;
}
