//定义变量
@right: 20px;
@top: 40%;
@z-index: 1;
/**在webkit内核下隐藏滚动条**/
 ::-webkit-scrollbar {
  width: 0;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
 ::-webkit-scrollbar-thumb {
  background: #FF0000;
}
/*****/
@-webkit-keyframes slideupin {
  0% {
    -webkit-transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
@keyframes slideupin {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
body {
  background: #ddd;
  font-weight: 400;
  font-size: 15px;
  color: #333;
  font-smoothing: antialiased; //使用灰阶平滑
}
a {
  text-decoration: none;
}
/*****/
.st-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  /**定义导航样式，修改为右边**/
  #st-control-1,
  #st-control-2,
  #st-control-3,
  #st-control-4,
  #st-control-5 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: fixed;
    right: @right;
    z-index: @z-index*1000;
    background: #CC543A;
    &:target,
    &:target:hover {
      filter:grayscale(1); //灰度
    }
    &:hover {
      filter:opacity(.2);
    }
  }
  #st-control-1 {
    top: @top;
  }
  #st-control-2 {
    top: @top+2%;
  }
  #st-control-3 {
    top: @top+4%;
  }
  #st-control-4 {
    top: @top+6%;
  }
  #st-control-5 {
    top: @top+8%;
  }
  /**内容栏**/
  .st-scroll,
  .st-panel {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .st-scroll {
    left: 0;
    top: 0;
    // transform: translate3d(0, 0, 0);
    // backface-visibility: hidden;
    // transition: all 0.6s ease-in-out;
    .st-panel {
      background: #fff;
      overflow: hidden;
      position: absolute;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      -webkit-transition: -webkit-transform 0.35s 0.05s linear;
      transition: transform 0.35s 0.05s linear;
      &:target {
        z-index: @z-index*100;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        -webkit-animation: slideupin 0.35s 0.05s linear forwards;
        animation: slideupin 0.35s 0.05s linear forwards;
      }
    }
  }
  // #st-control-1:active ~ .st-scroll {
  //   transform: translateY(0%);
  // }
  // #st-control-2:active ~ .st-scroll {
  //   -webkit-transform: translateY(-100%);
  //   -moz-transform: translateY(-100%);
  //   -o-transform: translateY(-100%);
  //   -ms-transform: translateY(-100%);
  //   transform: translateY(-100%);
  // }
  // #st-control-3:active ~ .st-scroll {
  //   -webkit-transform: translateY(-200%);
  //   -moz-transform: translateY(-200%);
  //   -o-transform: translateY(-200%);
  //   -ms-transform: translateY(-200%);
  //   transform: translateY(-200%);
  // }
  // #st-control-4:active ~ .st-scroll {
  //   -webkit-transform: translateY(-300%);
  //   -moz-transform: translateY(-300%);
  //   -o-transform: translateY(-300%);
  //   -ms-transform: translateY(-300%);
  //   transform: translateY(-300%);
  // }
  // #st-control-5:active ~ .st-scroll {
  //   -webkit-transform: translateY(-400%);
  //   -moz-transform: translateY(-400%);
  //   -o-transform: translateY(-400%);
  //   -ms-transform: translateY(-400%);
  //   transform: translateY(-400%);
  // }
}
