@right:20px;
@top:40%;
//定义变量
html {
  overflow: auto;
}
 ::-webkit-scrollbar {
  width: 0;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
 ::-webkit-scrollbar-thumb {
  background: #FF0000;
}
body {
  background: #ddd;
  font-weight: 400;
  font-size: 15px;
  color: #333;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: #555;
}
.st-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  /**定义导航样式，需要修改为右边**/
  input,
  a {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    line-height: 34px;
    position: fixed;
    right: @right;
    cursor: pointer;
    z-index: 10;
    background: #CC543A;
    color: #fff;
  }
  input {
    opacity: 0;
    z-index: 100;
  }
  input:checked+a,
  input:checked:hover+a {
    -webkit-filter: grayscale(1);
  }
  /*input:checked+a:after {
    content: "";
    width: 0;
    height: 0;
    overflow: hidden;
    border: 20px solid transparent;
    border-bottom-color: #821134;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -20px;
  }*/
  input:hover+a {
    -webkit-filter: opacity(.2);
  }
}
#st-control-1,
#st-control-1+a {
  top: @top;
  right: @right;
}
#st-control-2,
#st-control-2+a {
  top: @top+2%;
  right: @right;
}
#st-control-3,
#st-control-3+a {
  top: @top+4%;
  right: @right;
}
#st-control-4,
#st-control-4+a {
  top: @top+6%;
  right: @right;
}
#st-control-5,
#st-control-5+a {
  top: @top+8%;
  right: @right;
}
/**内容**/
.st-scroll,
.st-panel {
  width: 100%;
  height: 100%;
  position: relative;
}
.st-scroll {
  left: 0;
  top: 0;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  transition: all 0.6s ease-in-out;
}
.st-panel {
  background: #fff;
  overflow: hidden;
}
#st-control-1:checked ~ .st-scroll {
  transform: translateY(0%);
}
#st-control-2:checked ~ .st-scroll {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
#st-control-3:checked ~ .st-scroll {
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  -o-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
}
#st-control-4:checked ~ .st-scroll {
  -webkit-transform: translateY(-300%);
  -moz-transform: translateY(-300%);
  -o-transform: translateY(-300%);
  -ms-transform: translateY(-300%);
  transform: translateY(-300%);
}
#st-control-5:checked ~ .st-scroll {
  -webkit-transform: translateY(-400%);
  -moz-transform: translateY(-400%);
  -o-transform: translateY(-400%);
  -ms-transform: translateY(-400%);
  transform: translateY(-400%);
}
